*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.overall-container{
    gap: 2rem;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.first-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    gap: 2rem;
    border-radius: 30px;
    box-shadow: 2px 2px 0.5px white;
    flex-direction: column;
    padding:1rem 3em;
}

.container2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h2{
font-size: clamp(1rem, calc(5vw + 0.4rem), 1.75rem);
text-align: center;
}
.second-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    gap: 2rem;
    border-radius: 30px;
    box-shadow: 1px 1px 0.05px black;
    flex-direction: column;
    width: 30rem;
    padding: 2em;  
    margin-top: 1em;
}

.write-up{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.submit{
    padding: 20px;
    border-radius:10px;
    transition: 200ms ease-in-out;
    cursor: pointer;

}
.submit:hover{
      background-color: black;
      color: white;

}
#input{
    border-radius: 4px;
    padding: 1em 0;
     padding-left: 10px;
    outline: none;
    width: 100%;
}

.message-box{
    gap: 1rem;
    display: flex;
    flex-direction: column;
   width: 100%;
}



ol::marker {
  color: blue;
  font-size: 2rem;
}

.msg-heading{
text-align: center;
}

ol li{
background-color: rgb(214, 218, 223);
padding: 0.5em;
margin-bottom: 0.4em;
border-radius: 0.3em;
}

.link-copy{
width: 100%;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 4px;
    transition: 200ms ease-in-out;
    cursor: pointer;
     width: 100%;
     border: none;
     padding: 0.9em 1em;
}

.button{
width: 100%;
}

.btnGenerate{
    width: 100%;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 4px;
    transition: 200ms ease-in-out;
    cursor: pointer;
   
    
}
.btn:hover{
    color: black;
    background-color: green;
}
.input{
    height: 3rem;
    word-break: break-all;
   
    outline: none;
}

input{
 padding-left: 20px;
}
.copy-link-menu{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.copy-link-input{
    border-radius: 10px;
}

p{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
button{
    border: none;
}
.btnGenerate:hover{
    color: black;
    background-color: green;
}

.btnGenerate:active{
    color: green;
    font-size: 1rem;
    font-weight: 1rem;
}
.submit:active{
color: green;
font-size: 1rem;
font-weight: 900;
}
.show{
    display: block;
}
.hidden{
    display: none;
}


@media(max-width : 495px){
.copy-link-menu{
flex-direction: column;
}

input, button{
width: 100%;
}
}
